 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Silvio Moreto. I am the creator of bootstrap-select plugin. I got more than 5 years of experience with web development (front-end and back-end), and more than 7 years of experience with image processing and computer vision.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have experiences from startups to big companies and managed different kind of teams, bening the lead developer. Also, I got a master degree in Bioenginnering by working with medical images.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
