 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I am Silvio Moreto, the creator of the bootstrap-select plugin and several other projects. I have more than 7 years experience with web development (front-end and back-end), and more than 9 years experience with Image Processing and Computer Vision.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have experiences ranging from startups to big companies and I've managed several teams as lead developer. Also, I received my Master's degree in Bioengineering and have done academic research in the field of Medical Image Processing.</p>
                </div>
            </div>
        </div>
    </section>
